<div id="box-history">
    <div class="history-container">
        <div class="history-title">Historique</div>
        <div class="history-column-name"><div class="column1-name">Événement</div><div class="column2-name">Arrivé le</div></div>
        <div class="history-event-list">
            <% for(var i=0;i< history.length;i++){ %>
            <div class="history-event-item"><div class="column1"><%= history[i].type == 'open' ? 'Ouverture' : 'Fermeture' %></div><div class="column2"><%= history[i].time %></div></div>
            <% } %>
        </div>
    </div>
</div>