<!DOCTYPE html>
<html>
<head>
    <title>SafeDrop</title>
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Crete+Round" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="main.css">

    <!-- Code -->
    <script src="jquery-3.3.1.min.js"></script>
    <script src="dragdealer.js"></script>
    <script src="main.js"></script>
</head>
<body>
	<%= header %>
    <div id="mainContent"><%= mainContent %></div>
    <%= footer %>
</body>
</html>