<div id="shipment-infos">
    <div class="shipment-infos-status">
        <% if(newArrival) { %>
        <div class="shipment-infos-text">Vous avez re&ccedil;u un nouveau colis !</div>
        <div class="shipment-photo-container">
            <img src="boxes_200.png" />
        </div>
        <div id="unlock-slider" class="dragdealer">
            <div class="handle red-bar"></div>
            <div class="unlock-slider-label">Dévérrouiller</div>
        </div>
        <div class="unlock-slider-status hide">Boite en cours d'ouverture...</div>
        <% }else { %>
        <div class="cart-pic">
            <img src="cart_white.png" />
        </div>

        <div class="shipment-infos-text empty">Vous n'avez pas de nouveaux colis.<br/><span>C'est le temps de magasiner !</span></div>
        <% } %>
    </div>
</div>