doctype html
html(lang='en')
    head
        title Stripe test
        script(src='/js/jquery-3.3.1.min.js')
        script(src='https://checkout.stripe.com/checkout.js')
        script(src='/js/StripeManager.js')
    body
        h1 Stripe button integration
        #container.col
            input#transactionAmount(type='number', value='20')
            button#stripeButton Purchase