html, body{
    background-color:#d3d3d3;
    font-family: roboto;
    height: 100%;
    width: 100%;
    margin:0;
    /*overflow:hidden;*/
}


/* Header */



#header-logo-container{
    width:45%;
    height:90%;
    position:relative;
    top:12px;
    margin-left:auto;
    margin-right:auto;
}

#header-logo-container img{
    width:100%;
    margin-left:auto;
    margin-right:auto;
    display:block;
}

#mainContent{
    width:100%;
    height: 77%;
}

/* shipment Infos */
#shipment-infos{
    height: 100%;
    width:100%;
}

.shipment-infos-status{
    position:relative;
        top:7%;
    height:80%;
    width:100%;
}

.shipment-infos-text{
    text-align:center;
    font-weight: 900;
    font-size: 25px;
    /*font-family: 'Crete Round';*/
}

.shipment-infos-text.empty{
    position: relative;
        top: 5%;
    color: white;
    font-size:27px;
}

.shipment-photo-container img, .cart-pic img{
    height:60%;
    display:block;
    position: absolute;
        top: 50%;
        left: 50%;
    transform: translate(-50%,-50%);

}

.shipment-historic-button{
    background-color: #5aa6e4;
    border-radius:35%;
    padding: 10px;
    text-align:center;
    position:absolute;
        bottom:5%;
        left:50%;
    transform: translateX(-50%);
}

/* History */
#box-history{
    width:100%;
    height:100%;
    overflow:scroll;
}

.history-container{
    position: relative;
    top:20%;
    height: 80%;
}

.history-schedule-container{
    position: relative;
    top:20%;
    height: 80%;
    text-align:center;
}

.history-event-list {

}

.history-schedule-event-item{
    font-weight: 600;
    font-size: 20px;
    margin-top: 20px;
}

.history-event-item{
    font-weight: 600;
    font-size: 20px;
}

.column1-schedule-name{
    display: inline-block;
    width:calc(33% - 30px);
    padding-left: 10px;
}

.column2-schedule-name{
    display: inline-block;
    width:33%;
}

.column3-schedule-name{
    display: inline-block;
    width:33%;
}

.column1-schedule{
    display: inline-block;
    width:calc(33% - 30px);
    padding-left: 10px;
}

.column2-schedule{
    display: inline-block;
    width:33%;
}

.column3-schedule{
    display: inline-block;
    width:33%;
}

.column1-name{
    display: inline-block;
    width:calc(50% - 30px);
    padding-left: 30px;
}

.column2-name{
    display: inline-block;
    padding-left: 40px;
    width:calc(50% - 40px);
}

.column1{
    display: inline-block;
    width:calc(50% - 40px);
    padding-left: 40px;
}

.column2{
    display: inline-block;
    width:50%;
}

/* Footer */


.footer-left-button{
    border-right: 1px solid black;
}

.footer-left-button, .footer-right-button{
    position: relative;
    display:inline-block;
    width:49%;
    height: 100%;
    vertical-align: middle;
    text-align:center;
    font-size: 25px;
    font-weight: 900;
    /*font-family: 'Crete Round';*/
}

.footer-button-text{
    position:absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
}

/* Slider */
.slide-to-unlock {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    width: 400px;
    height: 80px;
}

.slide-to-unlock .dragdealer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 0;
    background: none;
    height: auto;
}

.slide-to-unlock .handle {
    height: 100%;
    border-radius: 0;
}

.slide-to-unlock .disabled {
    background: none;
}

.slide-to-unlock .slide-text {
    position: absolute;
    top: 0;
    height: 80px;
    font-size: 30px;
    line-height: 80px;
    text-align: center;
}

.new-slider {
    background: #333344;
}

.new-slider .dragdealer {
    overflow: hidden;
}

.new-slider .handle {
    width: 200%;
}

.new-slider .slide-text {
    left: 50%;
    width: 50%;
    color: #9999aa;
}

.cart-pic{
    position: relative;
    border-radius: 100%;
    margin-top:10%;
    height: 65%;
    /*width: 65%;*/
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.dragdealer {
    position: relative;
    height: 30px;
    background: #EEE;
}
.dragdealer .handle {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}
.dragdealer .disabled {
    background: #898989;
}

.hide{
    display: none;
}

.unlock-slider-status{
    color: #FF5E2C;
    position: absolute;
    bottom: -7%;
    font-size: 35px;
    font-weight: 900;
    width: 100%;
    text-align:center;
}

/* Theme Colors */
.shipment-photo-container{
    position: relative;
    background-color: #FF5E2C;
    border-radius: 100%;
    border: 10px solid #d3d3d3;
    box-shadow:0 0 0 6px #FF5E2C;
    margin-top:15%;
    height: 65%;
    /*width: 65%;*/
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

#unlock-slider{
    height: 65px;
    width: 85%;
    margin-top:10%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    border-radius: 65px;
    background-color:#ffd8cd;
}

.unlock-slider-label{
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-45%);
    font-size: 28px;
    font-weight: 900;
    color: #FF5E2C;
}

.dragdealer .red-bar {
    width: 150px;
    height: 65px;
    background: #FF5E2C;
    color: #FFF;
    font-size: 14px;
    line-height: 65px;
    text-align: center;
    border-radius: 50px;
}

.shipment-infos-text.empty > span{
    color:#FF5E2C;
}

#header{
    width: 100%;
    height:15%;
    background-color:#FF5E2C;
}

.history-title{
    position: absolute;
    top: -12%;
    left: 50%;
    transform: translate(-50%);
    color : #FF5E2C;
    font-weight: 900;
    font-size: 30px;
}

.history-schedule-title{
    position: absolute;
    top: -12%;
    color : #FF5E2C;
    font-weight: 900;
    font-size: 30px;
    width: 100%;
    text-align:center;
}

.history-column-name{
    color: white;
    background-color: #FF5E2C;
    font-size: 24px;
    font-weight: 500;
    padding-top: 5px;
    padding-bottom: 5px;
}

#history-empty-message{
    position:absolute;
    top:45%;
    font-weight:900;
    font-size: 35px;
    width: 100%;
    text-align: center;
    color: #FF5E2C;
}

#footer{
    background-color: #FF5E2C;
    height:8%;
    width:100%;
    position:absolute;
    bottom:0;
    color: white;
}